# Enable URL rewriting
RewriteEngine On

# Redirect all traffic to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Custom 404 page
ErrorDocument 404 /404.html
